.royal-assets-ctn {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "MedievalSharp", cursive;
  color: white;
}

.royal-assets-title {
  position: absolute;
  top: 50px;
  text-align: center;
  margin-bottom: 450px;
  font-size: 30px;
  display: flex;
}

.table-ctn {
  position: relative;
  bottom: 30px;
  width: 80%;
  background: rgb(46, 46, 46, 0.95);
  -webkit-box-shadow: 6px 15px 24px -3px #000000;
  box-shadow: 6px 15px 24px -3px #000000;
  max-height: 60%;
  border-radius: 7.5px;
}

.table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.category {
  margin: 20px 5px 15px 0px;
  font-size: 15px;
  padding-bottom: 5px;
  border-bottom: 0.1px solid white;
}

#name {
  position: relative;
  right: 15px;
}

#quantity {
  position: relative;
  left: 12px;
}
#worth {
  position: relative;
  left: 42px;
}

.table-body {
  display: flex;
  flex-direction: column;

  max-height: 80%;
  overflow: auto;
}

.table-row {
  position: relative;
  left: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 5px 35px;
}

.table-row-item {
  font-size: 12px;
}

.crud-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.crud-btn {
  position: relative;
  right: 12px;
  background: none;
  border: none;
  padding: 5px;
  width: 12%;
}

#edit {
  position: relative;
  left: 5px;
}

#delete {
  position: relative;
  left: 5px;
}

#add-btn {
  background: rgb(46, 46, 46, 0.95);
  -webkit-box-shadow: 6px 15px 24px -3px #000000;
  box-shadow: 6px 15px 24px -3px #000000;
  border-radius: 20px;
  padding: 5px;
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  #name {
    right: 5px;
  }

  #worth {
    left: 37px;
  }
}

@media screen and (min-width: 1000px) {
  .table-ctn {
    width: 50%;
  }

  #name {
    left: 5px;
  }

  #worth {
    left: 27px;
  }

  #edit {
    left: -50px;
  }

  #delete {
    left: -50px;
  }
}
